<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDS | Login</title>
</head>
<body>
    <h2>Login</h2>

    <form action="/login_process" method="POST">
        <table>
            <tr>
                <td>ID User</td>
                <td><input type="number" name="id_user" id="" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id="" required></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Login</button></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>Status</td>
                <td>: {{.Status}}</td>
            </tr>
        </table>
    </form>
</body>
</html>